@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-color: #f1ecdd;
    --dark-color: #0a0906;
    --primary-color: #f7bf18;
    --secondary-color: #7f6822;
    --accent-color: #d6b348;
}

[x-cloak] {
    display: none !important;
}

* {
    @apply text-light;
}

input,
select,
option,
textarea {
    @apply bg-transparent border border-light text-light focus:outline-none rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5;
}

select option {
    background-color: var(--light-color); /* Changer en fonction de votre couleur préférée */
    color: var(--dark-color);
}

.button {
    @apply block bg-orange-500 hover:bg-orange-600 duration-500 items-center px-3 py-2 gap-2 font-medium text-center rounded-lg  focus:ring-4 focus:outline-none;
}

.button-inactive {
    @apply flex backdrop-blur-lg justify-center border border-orange-500 hover:bg-orange-600 duration-500 items-center px-3 py-2 gap-2  font-medium text-center rounded-lg  focus:ring-4 focus:outline-none;
}

.button-disabled {
    @apply flex backdrop-blur-lg border border-orange-500  duration-500 items-center px-3 py-2 gap-2  font-medium text-center rounded-lg  focus:ring-4 focus:outline-none;
}

/* va permettre de faire une page qui permet d'avoir un footer toujours en bas */
#page {
    min-height: 100vh;
    /* 1 */
    display: flex;
    /* 2 */
    flex-direction: column;
    /* 3 */
    @apply w-full;
}

/* le style de la carte (la taille est obligatoire je l'ai mis directement dans la map) */
#map {
    margin-top: 100px;
}

.card-glass {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.bg-motocross-circle {
    position: absolute;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    object-fit: cover;
    width: 500px;
    height: 250px;
}

/* utiliser cette classe sur le layout qui utilise le body comme ça toutes les pages ont le meme body */
.bg-body {
    background: url("../images/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(30%);
    color: white;
}

/* permet de fixer le footer en dessous de l'element content, donc du body , meme si le body est vide */
#content {
    flex-grow: 1;
    /* 4 */
}

.header-img {
    height: 350px;
    width: 300px;

    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    object-fit: cover;
}


::-webkit-scrollbar {
    @apply w-[12px] h-[12px] bg-black;
}

::-webkit-scrollbar-track {
    @apply bg-secondary rounded-lg ;
}

::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-lg bg-green-500;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-primary  rounded-lg;
}